.all {
    background-color: #000;
}
h1, h2, h3, h4, p {
    color: #fff;
}

.fa-truck-moving {
    color: #fff;
    margin-top: 6px;
}

.text-drive {
    width: 100px;
    margin: 20px 0;
    font-size: 1.6rem;
}

.all-drive {
    margin-top: -54px;
}

.drive-option {
    display: inline-flex;
    margin-left: 114px;
}

.dr-option {
    margin-left: 20px;
}

.fee-drive {
    display: inline-flex;
    margin-left: 132px;
}

.text-color {
    width: 40px;
    font-size: 1.6rem;
}

.color {
    position: relative;
}
.quantity {
    margin: 20px;
    color: #fff;
    align-items: center;
}

.color-option {
    margin: -42px 0 20px 86px;
}

.option {
    margin-left: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
    text-align: center;
    width: 65px;
    display: inline-block;
}

.option:hover {
    background-color: #ee9298;
    border-color: rgb(236, 47, 47);
    color: rgb(207, 21, 21);
}

.detail-col {
    padding-left: 30%;
    margin-top: 22px;
}

.chotdon {
    margin-top: 20px;
}

.dt-left {
    width: 60%;
    padding-left: 80px;
    display: inline-flex;
}
.dt-price {
    width: 100%; 
	float: left; 
	font-size: 2rem; 
	color: #fff;
    margin-left: -162px;
}

.left_part1 {
    width: 100%;
    padding-left: 74px;
    padding-top: 1px;
}

.left_part2 {
    margin-left: -54%;
    width: 40%;
}

.chotdon2 {
    width: 100%;
    float: left;
    margin-left: 50%;
}

.right_part2 {
    padding-left: 32px;
}

.buy_bt2 {
    background: rgb(207, 21, 21);
    border: none;
    width: 130px;
    height: 38px;
    color: #ffffff;
    font-size: 1.4rem;
    margin-left: 10%;
    border: 0.1px solid rgb(236, 47, 47);
    border-radius: 2px;
}

.shoes_price2 {
    width: 100%;
    font-size: 2rem;
    color: #8B8B8B;
    margin-left: 50%;
    padding-top: 5px;
    text-align: center;
    font-weight: bolder;
}

.quantity {
    font-size: 1.8rem;
    margin: 0 6px;
}

.btn {
    background-color: #856f09;
}

.btn:hover {
    background-color: #911820;
}

.fa-minus:before {
    content: "\f068";
    color: #fff;
}

.fa-plus:before {
    content: "\f067";
    color: #fff;
}
/*=============================================*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  padding-left: 15px;
    margin-top: 6px;
}

.active,
.demo:hover {
  opacity: 1;
}

#my-btn {
    background-color: #467dcf;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 0.5em;
  }

#my-btn:hover{
        background-color: #00B2BF;
}

h1 {
    margin-left: -153%;
}

h3{
 padding-top: 40px;
}

.btn-di {
    margin-left: -44%;
    width: 100%;
    padding-top: 50px;
}