#my-btn {
    background-color: #467dcf;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 0.5em;
  }
#my-btn:hover{
        background-color: #00B2BF;
}