<footer>
	<div class="container" style="background-color: white;"> <p style="color: white;"> a </p></div>
    <div class="section_footer">
    	<div class="container">
    		<div class="mail_section" id="a">
    			<div class="row">
    				<div class="col-sm-6 col-lg-2">
    					<div class="footer-logo"><img src="./assets/images/icon-phone.png"><span class="map_text">Hotline<br> (84) 1010101010</span></div>
    				</div>
    				<div class="col-sm-6 col-lg-3">
    					<div class="footer-logo"><img src="./assets/images/icon-email.png"><span class="map_text">JFTproject@gmail.com</span></div>
    				</div>
    				<div class="col-sm-6 col-lg-3">
    					<div class="social_icon">
    						<ul>
    							<li><a href="https://www.facebook.com/Linhdaylinhday/"><img src="./assets/images/icon-fb.png"></a></li>
    							<li><a href="https://twitter.com/linhighi12"><img src="./assets/images/icon-twitter.png"></a></li>
    						</ul>
    					</div>
    				</div>
    				<div class="col-sm-2"></div>
    			</div>
    	    </div> 
    	    <div class="footer_section_2">
		        <div class="row">
    		        <div class="col-sm-4 col-lg-2">
    		        	<h3 class="shop_text">Address </h3>
    		        	<div class="image-icon"><img src="./assets/images/icon-map.png"><span class="pet_text"> <a href="https://www.google.com/maps/place/Landmark+81/@10.7950042,106.719681,17z/data=!3m1!4b1!4m5!3m4!1s0x317527c2f8f30911:0x36ac5073f8c91acd!8m2!3d10.7949572!4d106.7219012?hl=vi-VN" id="address"> 208 Đ. Nguyễn Hữu Cảnh, Phường 22, Bình Thạnh, Thành phố Hồ Chí Minh 700000, Việt Nam. </a></span></div>
    		        </div>
    		        <div class="col-sm-4 col-md-6 col-lg-3">
    				    <h3 class="shop_text">Our Company </h3>
    				    <div class="delivery_text">
    				    	<ul>
    				    		<li><a class="nav-item nav-link" href="/about-us" id="footer"> About us </a></li>
								<li><a class="nav-item nav-link" href="/recruitment" id="footer"> Recruitment </a></li>
    				    	</ul>
    				    </div>
    		        </div>
    			<div class="col-sm-6 col-lg-2">
    				<h3 class="adderess_text">Support</h3>
    				<div class="delivery_text">
    				    	<ul>
    				    		<li><a class="nav-item nav-link" href="/privacy-policy" id="footer"> Sales Policy </a></li>
								<li><a class="nav-item nav-link" href="/warranty-policy" id="footer"> Warranty Policy </a></li>
								<li><a class="nav-item nav-link" href="/return-policy" id="footer"> Return Policy </a></li>
    				    	</ul>
    				</div>
    			</div>
    			<div class="col-sm-6 col-lg-3">
    				<h3 class="adderess_text">Policy</h3>
    				<div class="delivery_text">
						<ul>
							<li>Buy: 1800.1060</li>
							<li>Technical: 1800.1763</li>
							<li>Complain: 1800.1062</li>
							<li>Guarantee: 1800.1064</li>
						</ul>
				</div>
    			</div>
    			</div>
    	        </div> 
	        </div>
    	</div>
</footer>


<style>
	#a{
		margin-right: 0%;
	}

	#footer{
		color: white;
		line-height: 0.7;
	}
	#address{
		color: white;
		line-height: 1.5;
	}
</style>