<div class="wrapper">
    <!-- Preloader -->
  
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" routerLink="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a routerLink="/admin-home" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a routerLink="#" class="nav-link">Contact</a>
        </li>
      </ul>
  
      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- Navbar Search -->
        <li class="nav-item">
          <a class="nav-link" data-widget="navbar-search" routerLink="#" role="button">
            <i class="fas fa-search"></i>
          </a>
          <div class="navbar-search-block">
            <form class="form-inline">
              <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                  <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                  <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </li>
  
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" routerLink="#">
            <i class="far fa-comments"></i>
            <span class="badge badge-danger navbar-badge">3</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <a routerLink="#" class="dropdown-item">
              <!-- Message Start -->
              <div class="media">
                <img src="assets/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    Brad Diesel
                    <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                  </h3>
                  <p class="text-sm">Call me whenever you can...</p>
                  <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                </div>
              </div>
              <!-- Message End -->
            </a>
            <div class="dropdown-divider"></div>
            <a routerLink="#" class="dropdown-item">
              <!-- Message Start -->
              <div class="media">
                <img src="assets/dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    John Pierce
                    <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                  </h3>
                  <p class="text-sm">I got your message bro</p>
                  <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                </div>
              </div>
              <!-- Message End -->
            </a>
            <div class="dropdown-divider"></div>
            <a routerLink="#" class="dropdown-item">
              <!-- Message Start -->
              <div class="media">
                <img src="assets/dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    Nora Silvester
                    <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                  </h3>
                  <p class="text-sm">The subject goes here</p>
                  <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                </div>
              </div>
              <!-- Message End -->
            </a>
            <div class="dropdown-divider"></div>
            <a routerLink="#" class="dropdown-item dropdown-footer">See All Messages</a>
          </div>
        </li>
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" routerLink="#">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge">15</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-item dropdown-header">15 Notifications</span>
            <div class="dropdown-divider"></div>
            <a routerLink="#" class="dropdown-item">
              <i class="fas fa-envelope mr-2"></i> 4 new messages
              <span class="float-right text-muted text-sm">3 mins</span>
            </a>
            <div class="dropdown-divider"></div>
            <a routerLink="#" class="dropdown-item">
              <i class="fas fa-users mr-2"></i> 8 friend requests
              <span class="float-right text-muted text-sm">12 hours</span>
            </a>
            <div class="dropdown-divider"></div>
            <a routerLink="#" class="dropdown-item">
              <i class="fas fa-file mr-2"></i> 3 new reports
              <span class="float-right text-muted text-sm">2 days</span>
            </a>
            <div class="dropdown-divider"></div>
            <a routerLink="#" class="dropdown-item dropdown-footer">See All Notifications</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-widget="fullscreen" routerLink="#" role="button">
            <i class="fas fa-expand-arrows-alt"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-widget="control-sidebar" data-slide="true" routerLink="#" role="button">
            <i class="fas fa-th-large"></i>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a routerLink="index3.html" class="brand-link">
        <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light" style="font-size: 20px">Admin</span>
      </a>
  
      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a routerLink="#" class="d-block">Alexander Pierce</a>
          </div>
        </div>
  
        <!-- SidebarSearch Form -->
        <!-- <div class="form-inline">
          <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-sidebar">
                <i class="fas fa-search fa-fw"></i>
              </button>
            </div>
          </div>
        </div> -->
  
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item">
              <a routerLink="#" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>
                  Layout Options
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/product-list" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Product Manage</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/brand-list" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Brand Manage</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/collection-list" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Collection Manage</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/slide-list" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Slide Manage</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/checkout-list" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Checkout Manage</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/contact-list" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Contact Manage</p>
                  </a>
                </li>
              </ul>
            </li>
            
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
    <div class="content-wrapper">
        <div class="container" style="margin-bottom: 90px;">
            <legend>Update Product</legend>
            <div class="col-md-4">
              <form action="" method="POST" [formGroup]="productFormUpdate" (ngSubmit)="onUpdate()">
                <legend>Add Product</legend>
                <div class="form-group">
                    <label for="">Product Name</label>
                    <input type="text" class="form-control" formControlName="productName" placeholder="Product Name">
                    <div *ngIf="message && f['productName'].errors">
                        <span *ngIf="f['productName'].errors['required']">Enter Product Name</span>
                        <span *ngIf="f['productName'].errors['minlength']">Product name must be at least 3 characters</span>
                    </div>
                </div>
        
                  <div class="form-group">
                    <label for="">Product Image</label>
                    <img [src]="imageUrl"  style="width:250px;height:200px">
                    <input type="file" class="form-control"(change)="handleFileInput($event)" placeholder="Product Image">
                    <div *ngIf="message && f['productImage'].errors">
                        <span *ngIf="f['productImage'].errors['required']">Product photos cannot be blank</span>
                    </div>
                </div> 
                
                <div class="form-group">
                    <label for="">Product Detail</label>
                    <input type="text" class="form-control" formControlName="detail" placeholder="Detail">
                    <div *ngIf="message && f['detail'].errors">
                        <span *ngIf="f['detail'].errors['required']">Product detail cannot be blank</span>
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="">Price</label>
                    <input type="text" class="form-control" formControlName="price" placeholder="Price">
                    <div *ngIf="message && f['price'].errors">
                        <span *ngIf="f['price'].errors['required']">Product price cannot be blank</span>
                        <span *ngIf="f['price'].errors['min']">Product price must be at least 100000$</span>
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="">Quantity</label>
                    <input type="text" class="form-control" formControlName="qnt1" placeholder="Quantity">
                    <div *ngIf="message && f['qnt1'].errors">
                        <span *ngIf="f['qnt1'].errors['required']">Brand cannot be blank</span>
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="">Brand</label>
                    <input type="text" class="form-control" formControlName="brandId" placeholder="Product BrandId">
                    <div *ngIf="message && f['brandId'].errors">
                        <span *ngIf="f['brandId'].errors['required']">Brand cannot be blank</span>
                    </div>
                </div>
        
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
           
        
        
            </div>
        </div>
     
    </div>
    <!-- Content Wrapper. Contains page content -->
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>